body, html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  background-image: url('images/background.png');
  background-size: 100% auto;
  font-size: 18px;
}

body, a:link, a:visited, a:active {
  color: #b19afd;
}

.title, .button {
  padding: 1px 10px;
  font-family: 'Permanent Marker';
}

.button {
  text-decoration: none;
  border: 1px solid #b19afd;
  background-color: #e2e2e2;
  border-radius: 5px;
  position: absolute;
  top: 4px;
}

#pepeButton {
  left: 1%;
}

#sharkButton {
  left: 13%;
}

#peterButton {
  right: 16%
}

#pikaButton {
  right: 1%;
}

#lineUpButton {
  top: 50px;
  left: 55%;
}

#kickButton {
  top: 50px;
  left: 35%;
}

.button:hover {
  color: cyan;
  cursor: pointer;
  background-color: #b19afd;
}

.topbar {
  height:40px;
  background-color: #555;
  position: relative;
}

.title {
  background-color: #555;
  color: #5693fe;
  position: absolute;
  left: 40%;
  top: 3px;
  font-family: 'Permanent Marker';
  font-size: 23px;
}

.dancer {
  position: absolute;
}

#pepe {
  height: 150px;
  width: auto;
  opacity: 1;
}

#pepe:hover {
  opacity: 0.1;
  transition: opacity 2s;
}

#shark {
  height: 200px;
  width: auto;
  animation: rotation 2s infinite linear;
}

#peter {
  height: 200px;
  width: auto;
}

#peter:hover {
  cursor: pointer;
}

#pika {
  height: 100px;
  width: auto;
  animation: bounce 0.5s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.5,0.05,1,.5);
  animation-iteration-count: infinite;
}

@keyframes bounce {
  from { transform: translate3d(0, 0, 0);     }
  to   { transform: translate3d(0, 100px, 0); }
}

@keyframes rotation {
    from { transform: rotate(0deg); }
    to { transform: rotate(359deg); }
}